<!-- starting root page -->

<div>
	<h3>Welcome, <%= current_user.email %></h3>

<ul>
	<% current_user.tasks.each do |task| %>
	<li><%= task.title %></li>

		<% end %>
</ul>
<!-- Restructure this better; use just button -->
<form action="/users/sign_out" method="post">
	<input name="_method" value="delete" hidden>
	<input type="submit" value="logout">
</form>

</div> 

<!-- ####################################- -->