<div class = "cardNewMain">
	<form id="new_card" autofocus="true">
		<!-- <h4><label for="card_title">Title</label></h4> -->
		<input type="text" id="card_title" name="card[title]" autofocus="true">
		<input type="submit" class="small button" id= "new_card_button" value="Add">
	</form>
</div>