<div class = "cardNewMain">
	<form id="new_card">
		<h4><label for="card_title">Title</label></h4>
		<input type="text" id="card_title" name="card[title]" autofocus="true">
		<br>
		<input type="submit" id= "new_card_button">
	</form>
</div>