@import "foundation_and_overrides";

button {
	/*vertical-align: center;*/
	/*background-color: red;*/
}

div.list_title{
	margin-bottom: 10px
}

div.show{
	/*@include panel;*/
	/*width: 400px;*/
	padding: 10px;
	/*float: left;*/
	margin: 10px;

}

div#login {
	/* Div Fill */
	background-color: white;
	/*opacity: 0.75;*/
	text-align: center;

	/*Border and outline*/
	border-radius: 20;
	padding: 19px;
	width: 300px;

	margin: auto;
	margin-top: 200px;
}

div#remember_me {
	text-align: left;
	/*background-color: red;*/
	float: left;
}

div#main{
	background-color: black;
	height: 750px; 
	/*height: 100%; */
	opacity: 0.95;
}

div#login_bg{
	background-color: #3F92D2;
	opacity: 0.8;

	width: 360px;

	margin-top: 200px;
	/*margin: 200px auto;*/
	/*text-align: center;*/
	margin: auto;
	padding: 30px;
	border-bottom-right-radius: 15;
	border-bottom-left-radius: 15;
}

div.blueButton{
	background-color: blue;
}

div.boardViewMain{
	position: auto;
	text-align: center;
}

div.boardNewMain{
	position: absolute;
	width: 350px;
	border: solid;
	border-color: #0776A0;
	padding: 10px;
	background-color: white;
	opacity: 0.7;
}


div.show.list{
	
	width: 350px;
	border: groove;
	border-color: #3F92D2;
	float: left;
}

div.show.card{
	clear: both;
	min-height: 32px;
	width: 80%;

	padding: 0 10px;
	border: groove;
	border-color: red;
	margin: auto auto 5px auto;
}

div.show.task{
	width: 80%;
	border: groove;
	border-color: blue;
	padding: 0 10px;
		margin: 0;
}

div.sortable-placeholder{
	background-color: black;

	width: 100px;
	height: 1000px;
}

span{
	text-align: left;
}

nav.top-bar{
	/*background-color: blue;*/
}


