  <div class= "boardViewMain">

    <p>Your Boards:
      <a href="#" 
         id="new_board_link">
          Create New Board
      </a>
    </p>
    
    <ul>
      <% _(boards).reverse().each( function(board){ %>
        <div class="row">

          <h3><a href="#/boards/<%= board.id %>">
          <%= board.escape("title") %>
        </a></h3>

        <div>
      <% }) %>
    </ul>
</div>
   