
    <h3>Welcome, <%= current_user.name%></h3>


  <div class= "boardViewMain">

    <p>Your Boards:  <a href="#" id="new_board_link">Create New Board</a></p>
    <ul>
      <% _(boards).reverse().each( function(board){ %>
        <li id="<%=board.id%>">
          <h3><a href="#/boards/<%= board.id %>">
          <%= board.escape("title") %>
        </a></h3>
        </li>
      <% }) %>
    </ul>
  </div>
   