<div class = "boardNewMain" autofocus="true">
	<form id="new_board">
		<h4><label for="board_title">Title</label></h4>
		<input type="text" id="board_title" name="board[title]" >
		<br>
		<input type="submit" class= "small button" id= "new_board_button">
	</form>
</div>