<!-- REFACTOR THIS ASAP WHEN YOU CAN. -->
<div class="show_bg" >

	  <% var listIndexContent = JST["lists/index"]({lists: board.get("lists") , board_id: board.id, })%>
	  <!-- ^ refactor, but not priority -->  
	  <%= listIndexContent %>

		<a href="#" 
			 class="button"
			 id="add_list_link">
			 Add List
		</a>

</div>
<a href="#/">Back??</a>