hurray!
<!-- REFACTOR THIS ASAP WHEN YOU CAN. -->
<div class="show_bg">

	<% board.get("lists").each(function(list){ %>
		<% var list =	new Trellnote.Views.ListsIndex({
				collection: board.get("lists"),
				list: list }); %>
		<%= list.render() %>
		
	<% }) %>	

	<a href="#" 
		 class="button"
		 id="add_list_link">
		 Add List
	</a>
	
</div>
<a href="#/">Back??</a>