<div><%= current_user.inspect %></div>

<!-- Restructure this better; use just button -->
<form action="/users/sign_out" method="post">
	<input name="_method" value="delete" hidden>
	<input type="submit" value="logout">
</form>
 