<div class = "listNewMain">
	<form id="new_list">
		<input type="text" id="list_title" name="list[title]" autofocus="true">
		<input type="submit" class="button" id= "new_list_button" value="Save">
</div>