<div class = "listNewMain">
	<form id="new_list">
		<h4><label for="list_title">Title</label></h4>
		<input type="text" id="list_title" name="list[title]" autofocus="true">
		<br>
		<a href="#" class="button" id= "new_list_button">Submit</a>
	</form>
</div>