<!-- index: LIST -->

<div class="show list" id="list_<%= list.id %>" data-id="<%= list.id %>"> 
  <div class="list_title">
    <h5><%= list.escape("title") %></h5>
  </div>

    <% list.get("cards").each(function(card){ %>  

        <% var card = new Trellnote.Views.CardsShow({
              collection: list.get("cards"),
              card: card,
              list: list }); %>
         <%  debugger %>     
        <%= card.render() %>
    <% }); %>


  <a href="#" 
     class="small button"
     id="add_card_link">
    Add a Card
  </a>

</div>